# Ignore WordPress Core and server files
.htaccess
.quarantine/*
.tmb/*
.well-known/*
index.php
license.txt
robots.txt
wp-activate.php
wp-admin/*
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/ai1wm-backups/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/wflogs/*
wp-content/wp-rocket-config/*
wp-content/wp-sheet-editor-universal-sheet/*
wp-cron.php
wp-includes/*
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore these plugins
wp-content/plugins/hello.php

# Ignore specific themes
wp-content/themes/twenty*/

# Ignore node dependency directories
node_modules/
bower_components/

# Ignore log files and databases
*.log
*.sql
*.sqlite
php_errorlog
