# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\VagrantWorkBoxes\WPPFMDeployBox\wordpress\wp-content\plugins\wp-product-feed-manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
